html, body{
  margin:0;
  padding:0;
}

body{
  background-color: #D9DCD6;
  /* background: linear-gradient(#D9DCD6, lightslategray); */
  font-family: Comic Sans MS, sans-serif;
}

.header-container{
  display: flex;
  align-items:center;
  width:100%;
  text-align:center;
  border-bottom: 1px solid;
}

.header{
  background: linear-gradient(#3981CE, #16425B);
  /* background-color:#3981CE; */
  height: 50px;
  color:whitesmoke;
  width:100%;
  text-align:center;
  padding-top:10px;
  font-size: 26px;
}

.form-container{
  margin-top:12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name, #description{
  width: 60%;
  margin:5px;
  height: 20px;
  border: 0.5px solid #7C5E2A;
  border-radius: 5px;
  background-color:#f7fffe;
}

#name:hover, #description:hover{
  border: 1px #2F6690 solid;
}
#description{
  height: 40px;
}

#add{
  background-color:#d7f6ff ;
  margin-top:5px;
  padding:10px 50px;
  border: black 1px solid;
  border-radius: 5px;
}

#add:active {
  background-color: aliceblue;
}


.list-choices-container{
  height: 35px;
  width:100%;
  /* background-color: #81C3D7; */
  background: linear-gradient(#D9DCD6, lightslategray);
  color:whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.to-do-list, .shopping-list{
  height:35px;
  width:50%;
  text-align:center;
  line-height: 32px;
  border-bottom: 1px solid black;
 }

.to-do-list:hover, .shopping-list:hover{
  height:35px;
  width:50%;
  text-align:center;
  line-height: 32px;
  color:black;
 } 

.shopping-list{
  border-right: black 1px solid;
} 

#content{
  display: flex;
  flex-direction: column;
}

li{
  list-style-type:none;
  width:87%;
  background-color:#feffbe;
  margin-bottom: 6px;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
  font-size: 14px;
  border-radius: 5px;
}

li:hover{
  border: 1px #2F6690 solid;
}

li.completed_true > span{
  text-decoration: line-through;
}

p {
  font-size: 12px;
  padding-left: 5px;
}

ul {
  padding-left: 20%;
  padding-right: 11%;
}

#remove{
  margin-left: 70%;
  font-size: 10px;
}

#remove:active{
  color: red;
}

@media (min-width:376px){

  #remove{
    margin-left:85%;
  }

  #add:hover{
    background-color:aliceblue;
  }
}

