html, body{
  margin:0;
  padding:0;
}

body{
  background-color:#feffbe;
  font-family: Comic Sans MS, sans-serif;
}

.header-container{
  display: flex;
  align-items:center;
  width:100%;
  text-align:center;
}
.header{
  background-color:#333232;
  height: 50px;
  color:whitesmoke;
  width:100%;
  text-align:center;
  padding-top:10px;
  font-size: 26px;
}

.form-container{
  margin-top:12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name, #description{
  width:75%;
  margin:5px;
  height: 20px;
  border: 0.5px solid #7C5E2A;
  background-color:#f7fffe;
}
#description{
  height: 30px;
}
#add{
  background-color:#d7f6ff ;
  margin-top:5px;
  padding:8px;
}


.list-choices-container{
  height: 35px;
  width:100%;
  background-color: #7C5E2A;
  color:whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

 .to-do-list, .shopping-list{
  height:35px;
  width:50%;
  text-align:center;
  line-height: 32px;
 } 
 .to-do-list:hover, .shopping-list:hover{
  height:35px;
  width:50%;
  text-align:center;
  line-height: 32px;
  color:goldenrod;
 } 
 .shopping-list{
  border-right: whitesmoke 1px solid;
} 



#content{
  display: flex;
  flex-direction: column;
}

li{
  list-style-type:none;
  width:87%;
  background-color:#feffbe;
  /* margin-bottom: 6px; */
  padding-bottom: 6px;
  border-bottom: 0.5px dotted black;
}

li.completed_true > span{
  text-decoration: line-through;
}


#remove{
  margin-left:162px;
}

@media (min-width:376px){

  #remove{
    margin-left:85%;
  }
  #add{
    padding:16px;
  }
  #add:hover{
    background-color:aliceblue;
  }
}

